In [2]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

from flask import Flask, jsonify, render_template, request, redirect
import pandas as pd
import numpy as np

In [3]:
engine = create_engine("sqlite:///belly_button_biodiversity.sqlite")

In [4]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [5]:
Base.classes.keys()

['bacteria', 'otu', 'samples', 'samples_metadata']

In [6]:
session = Session(engine)

In [7]:
inspector = inspect(engine)

In [8]:
inspector.get_table_names()

['bacteria', 'otu', 'samples', 'samples_metadata']

In [9]:
columns = inspector.get_columns("samples")
for column in columns:
    print(column["name"], column["type"])

otu_id INTEGER
BB_940 INTEGER
BB_941 INTEGER
BB_943 INTEGER
BB_944 INTEGER
BB_945 INTEGER
BB_946 INTEGER
BB_947 INTEGER
BB_948 INTEGER
BB_949 INTEGER
BB_950 INTEGER
BB_952 INTEGER
BB_953 INTEGER
BB_954 INTEGER
BB_955 INTEGER
BB_956 INTEGER
BB_958 INTEGER
BB_959 INTEGER
BB_960 INTEGER
BB_961 INTEGER
BB_962 INTEGER
BB_963 INTEGER
BB_964 INTEGER
BB_966 INTEGER
BB_967 INTEGER
BB_968 INTEGER
BB_969 INTEGER
BB_970 INTEGER
BB_971 INTEGER
BB_972 INTEGER
BB_973 INTEGER
BB_974 INTEGER
BB_975 INTEGER
BB_978 INTEGER
BB_1233 INTEGER
BB_1234 INTEGER
BB_1235 INTEGER
BB_1236 INTEGER
BB_1237 INTEGER
BB_1238 INTEGER
BB_1242 INTEGER
BB_1243 INTEGER
BB_1246 INTEGER
BB_1253 INTEGER
BB_1254 INTEGER
BB_1258 INTEGER
BB_1259 INTEGER
BB_1260 INTEGER
BB_1264 INTEGER
BB_1265 INTEGER
BB_1273 INTEGER
BB_1275 INTEGER
BB_1276 INTEGER
BB_1277 INTEGER
BB_1278 INTEGER
BB_1279 INTEGER
BB_1280 INTEGER
BB_1281 INTEGER
BB_1282 INTEGER
BB_1283 INTEGER
BB_1284 INTEGER
BB_1285 INTEGER
BB_1286 INTEGER
BB_1287 INTEGER
BB_1288 INTEGER
BB_1289 INTEGER
BB_1290 INTEGER
BB_1291 INTEGER
BB_1292 INTEGER
BB_1293 INTEGER
BB_1294 INTEGER
BB_1295 INTEGER
BB_1296 INTEGER
BB_1297 INTEGER
BB_1298 INTEGER
BB_1308 INTEGER
BB_1309 INTEGER
BB_1310 INTEGER
BB_1374 INTEGER
BB_1415 INTEGER
BB_1439 INTEGER
BB_1441 INTEGER
BB_1443 INTEGER
BB_1486 INTEGER
BB_1487 INTEGER
BB_1489 INTEGER
BB_1490 INTEGER
BB_1491 INTEGER
BB_1494 INTEGER
BB_1495 INTEGER
BB_1497 INTEGER
BB_1499 INTEGER
BB_1500 INTEGER
BB_1501 INTEGER
BB_1502 INTEGER
BB_1503 INTEGER
BB_1504 INTEGER
BB_1505 INTEGER
BB_1506 INTEGER
BB_1507 INTEGER
BB_1508 INTEGER
BB_1510 INTEGER
BB_1511 INTEGER
BB_1512 INTEGER
BB_1513 INTEGER
BB_1514 INTEGER
BB_1515 INTEGER
BB_1516 INTEGER
BB_1517 INTEGER
BB_1518 INTEGER
BB_1519 INTEGER
BB_1521 INTEGER
BB_1524 INTEGER
BB_1526 INTEGER
BB_1527 INTEGER
BB_1530 INTEGER
BB_1531 INTEGER
BB_1532 INTEGER
BB_1533 INTEGER
BB_1534 INTEGER
BB_1535 INTEGER
BB_1536 INTEGER
BB_1537 INTEGER
BB_1539 INTEGER
BB_1540 INTEGER
BB_1541 INTEGER
BB_1542 INTEGER
BB_1543 INTEGER
BB_1544 INTEGER
BB_1545 INTEGER
BB_1546 INTEGER
BB_1547 INTEGER
BB_1548 INTEGER
BB_1549 INTEGER
BB_1550 INTEGER
BB_1551 INTEGER
BB_1552 INTEGER
BB_1553 INTEGER
BB_1554 INTEGER
BB_1555 INTEGER
BB_1556 INTEGER
BB_1557 INTEGER
BB_1558 INTEGER
BB_1561 INTEGER
BB_1562 INTEGER
BB_1563 INTEGER
BB_1564 INTEGER
BB_1572 INTEGER
BB_1573 INTEGER
BB_1574 INTEGER
BB_1576 INTEGER
BB_1577 INTEGER
BB_1581 INTEGER
BB_1601 INTEGER

In [10]:
bacteria_table = Base.classes.bacteria
otu = Base.classes.otu
samples_table = Base.classes.samples
samples_metadata_table = Base.classes.samples_metadata

In [19]:
search = getattr(samples_table, "BB_940")
results = session.query(search).all()
df = pd.DataFrame(results).sort_values('BB_940', ascending=False)
df

      BB_940
1166     163
2858     126
481      113
2263      78
40        71
1188      51
351       50
188       47
2317      40
1976      40
3449      37
873       36
1958      30
2190      28
1949      25
2076      23
2274      22
943       19
2183      19
2243      14
2023      13
2810      13
2418      13
2781      12
164       12
2010      11
2246      11
2395      11
2963      10
829       10
...      ...
1314       0
1315       0
1290       0
1289       0
1288       0
1287       0
1263       0
1264       0
1265       0
1266       0
1267       0
1268       0
1269       0
1270       0
1271       0
1272       0
1274       0
1275       0
1276       0
1277       0
1278       0
1279       0
1280       0
1281       0
1282       0
1283       0
1284       0
1285       0
1286       0
3673       0

[3674 rows x 1 columns]

In [22]:
df.reset_index(inplace=False)

      index  BB_940
0      1166     163
1      2858     126
2       481     113
3      2263      78
4        40      71
5      1188      51
6       351      50
7       188      47
8      2317      40
9      1976      40
10     3449      37
11      873      36
12     1958      30
13     2190      28
14     1949      25
15     2076      23
16     2274      22
17      943      19
18     2183      19
19     2243      14
20     2023      13
21     2810      13
22     2418      13
23     2781      12
24      164      12
25     2010      11
26     2246      11
27     2395      11
28     2963      10
29      829      10
...     ...     ...
3644   1314       0
3645   1315       0
3646   1290       0
3647   1289       0
3648   1288       0
3649   1287       0
3650   1263       0
3651   1264       0
3652   1265       0
3653   1266       0
3654   1267       0
3655   1268       0
3656   1269       0
3657   1270       0
3658   1271       0
3659   1272       0
3660   1274       0
3661   1275       0
3662   1276       0
3663   1277       0
3664   1278       0
3665   1279       0
3666   1280       0
3667   1281       0
3668   1282       0
3669   1283       0
3670   1284       0
3671   1285       0
3672   1286       0
3673   3673       0

[3674 rows x 2 columns]

In [24]:
results = [{"otu_ids": [df.index], "sample_values": [df["BB_940"]]}]

NameError: name 'BB_940' is not defined

In [ ]:
sample = "BB_940"
results = session.query(samples_metadata_table.AGE, samples_metadata_table.SAMPLEID
        ).filter(
            samples_metadata_table.SAMPLEID == sample.split("_")[1]).all()
results

In [ ]:
for each in results[0]:
    print(type(each))

In [ ]:
df = pd.DataFrame(results, columns =['AGE', 'SAMPLEID'])

In [ ]:
df.to_dict(orient="records")

In [ ]:
results = session.query(samples_metadata_table.WFREQ).filter(            samples_metadata_table.SAMPLEID == sample.split("_")[1]).all()

In [ ]:
a = session.query(samples_metadata_table.).all()
a

In [ ]:
x = session.query(otu.lowest_taxonomic_unit_found).all()
x

In [ ]:
y = pd.DataFrame(x)

In [ ]:
otu_ids = []
columns = inspector.get_columns("samples")
for column in columns:
    otu_id.append(column["name"])
otu_ids = otu_id[1:]
otu_ids